html {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.app {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}